.home-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid;
  border-color: blue;
}

.home-page {
  border: solid;
  border-color: black;
  height: 100vh;
}

.home-logo {
  display: flex;
  justify-content: center;
}

.home-dog-list {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: pink;
  height: 75vh;
}